-# %h1 %Home#index
-# %p Find me in app/views/home/index.html.erb

%div{id: "hello"}
  -# {{message}}
  %app

= javascript_pack_tag 'hello_vue'
= stylesheet_pack_tag 'hello_vue'
= javascript_pack_tag 'home/index'
-# = javascript_pack_tag 'home/index.js'
-# = stylesheet_pack_tag 'home/index.js'
